*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: floralwhite;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24;
}

.header {
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(1, 1, 93);
  color:white;
}

.header h1 {
  display: inline-flex;
  font-size: 48px;
}

.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
  font-size: 18px;
}

a {
  color: white;
  text-decoration-style: none;
}
.banner{
  height:25vh;
  width:100%;
}

.portfolio {
  font-weight: bold;
}

.bio {
  margin-left: 0px;
  padding:20px;
  clear:both;
  float:left;
  width: 20%;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 28;

}

.vitals {
  margin-left: 0px;
  padding:20px;
  clear:both;
  float:left;
  width: 20%;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24;
}
.vitals p{
  
  margin-right: 190px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:24;
  padding:50;
}
.portfolio {
  display:flex;
  flex-wrap: wrap;
  width:65%;
  margin-left: 170px;
  margin-right:20px;
  
}

.flex-item {
  display: flex;
  flex-basis: 50%;
  height: 150px;
  border: 2px solid black;
}
.flex-item:first-child {
  height:300px;
  flex-basis: 100%;
}
#portfolio-item-one {
  background-image: url("../social-media-marketing\ copy.jpg");
  background-size:cover;
  background-position: bottom;
}
#portfolio-item-two {
  background-image: url("../IMG_2962.jpg");
  background-size:cover;
  background-position: bottom;
}
#portfolio-item-three {
  background-image: url("../IMG_3057.jpg");
  background-size: cover;
  background-position: bottom;
}
#portfolio-item-four {
  background-image: url("../IMG_3138.jpg");
  background-size: cover;
  background-position: center;
}
#portfolio-item-five {
  background-image: url("../IMG_3151.jpg");
  background-size: cover;
  background-position: center;
}

.footer {

  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font: size 24px;


}

@media screen and (max-width: 640px) {
  header {
    display:flex;
    flex-wrap: wrap;
  }

  main, section.cards {
    flex-direction: column;
  }
  main {
    padding-top: 2rem;
  }
}